.main {
    padding: 20px;
}

.card{
    margin: 5px;
    
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.covid-holder{
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    
    justify-content: center;
    align-items: center;
}

section{
    align-items: center;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: grey;
}

@media only screen and (max-width: 600px) {
    body h1{
        font-size: 1.75rem;
    }
    
    body h2{
        font-size: 1.5rem;
    }
    
    body h3{
        font-size: 1rem;
    }
    
    .covid-holder{
        flex-direction: column;
    }
}